

.container{
    width: 430px;
    height: 570px;
    min-height: 570px;
    margin: auto;
    background-color: rgb(166, 15, 56);
    border-radius: 15px;
    position: relative;
    display: flex;
    margin-top: 50px;
    
}


.visor{
    width: 90%;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin: 20px
}

.visor h4{
    font: 4em arial;
    text-align: end;
    margin: 20px;
    
}
.teclas{
    position: absolute;
    width: 90%;
    height: 430px;

    bottom: 0px;
    margin: 20px;
}
table{
    margin: auto;
    border-spacing: 20px 20px;
    border-collapse: separate;
}

td{
    background-color: white;
    padding: 21px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

td:hover{
    background-color: orange;
}


/* GRADIENTE BACKGROUND */

.animacao-gradiente {
    background: linear-gradient(270deg, #0ad8a3, #660ad8, #97d80a, #ffcd16);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 38s ease infinite;
    -moz-animation: AnimationName 38s ease infinite;
    animation: AnimationName 38s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}